body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif; 
    background-color:#555
    /* background-color: rgb(19, 18, 18); */
  }


img {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
}

.nav{
    display: flex;
    background-color:#333;
    display: flex; 
    padding: 25px;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-links1{
    margin: 21px; 
    text-decoration: none;
    padding: 10px;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.nav-links2{
    margin: 21px; 
    padding: 10px;
    justify-content: space-between;
}

nav a{
    margin: 36px;
    font-size: 24px; 
    text-decoration: none;
    color: white;
    padding: 13px;
}

nav a:hover {
    background-color: #555; 
}


/* now below part css is for the intro */

.intro{
    /* background-color: rgba(0, 0, 0, 0.692); */ 
    background-color:#2c2c2c;
    padding: 60px;
    margin: 55 px;
    color: white;
    text-align: center;  
    font-size: 28px;
    font-weight: bold; 
    border: 1px solid white;
    /* background-image: url('./assets/Intro4.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
}



#bully{
    background-color: #333; 
    display: flex;
    justify-content: center;
    padding: 31px;
}
  


#feature {
    width: 15rem;
    text-align: center;
    background-color:  #2c2c2c;
    color: yellow;
    border-radius: 20px 20px 20px 20px;
    box-shadow:15px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  #feature img {
    margin : 14 rem;
    height: 1 rem;
    margin-top: 15px;
    margin: 5 2 1.5rem 0;
    width: 10 rem;
    object-fit: cover;
  }
  
  #feature:hover {
    background-color: black;
    transform: scale(1.1); /* You can adjust the scale or add other transformations */
  }
  

  
  #feature h3 {
    margin: 0.5rem 0;
    font-size: 20px;
  }
  
  #feature p {
    font-size: 20px;
  }

  .create,.delete,.deleteCard,.createCard {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #ffffff;
    background-color:#2c2c2c;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    margin: 5px; 
    padding: 15px;
  }

  /* Hover effect */
  .create:hover {
    background-color: #2980b9;
  }

  .deleteCard:hover {
    background-color: #2980b9;
  }

  .createCard:hover{
    background-color: #2980b9;
  }
  .deleteCard{
    margin-left: 80px;
    background-color: #2c2c2c;
  }

  .createCard{
    margin-left: 130px; 
    background-color: #2c2c2c;
  }



  .Cards{
    background-color: #2c2c2c;
    margin: 20px; 
    height: 630px; 
    width: 380px;
    align-items: center;
    border-radius: 10px; 
    color: white;
    border: 1.1px solid #3498db;
  }

  .CardBox{
    display: flex; 
    flex-wrap: wrap;
  }

 